@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

/* Мобильные устройства */
@media (max-width: 992px) {
  .burger {
    display: block;
  }

  .nav {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background: white;
    flex-direction: column;
    align-items: flex-start;
    /* padding-left: 20px; */
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.3s eaes;
    z-index: 1001;
  }

  .nav.active {
    transform: translateY(0);
    opacity: 1;
  }

  /* Скрываем корзину при открытом меню */
  .nav.active ~ .shop-cart-button {
    display: none;
  }
}