@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


body {
  background: #ffff;
  color: #222;
  font-family: "Montserrat", sans-serif;

}


@media (max-width: 767px) {
  main .item {
    width: calc(50% - 10px); /* 2 товара */
    min-width: 280px;
    margin-right: 40px;
    margin-left: 70px;
  }
  main .add-to-cart {
    bottom: 5px;
    width: 25px;
    height: 25px;
 
  }
}
@media (max-width:400px) {
  main .item {
    width: 100%; /* 1 товар */
    max-width: 440px;
    
    margin-right: 80px;
  }
}
  