@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


body {
  background: #ffff;
  color: #222;
  font-family: "Montserrat", sans-serif;

}


@media (max-width: 991px) {
  main .item {
    width: calc(50% - 10px); /* 2 товара */
    min-width: 280px;
  }
}

/* Мобильный (до 767px) */
@media (max-width: 767px) {
  main .item {
    width: 100%; /* 1 товар */
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
  }
}
  